<div class="copyright">
    <div class="row ">
        <!-- <div class="col-md-2 text-left">
        </div> -->
        <div class="col-md-4 text-left" id='blogQuestionsFooter'>
            <div id="blogCheck">
                <a href="http://blog.streamfluence.io/" style='color: #fff;'>Check Out Our Blog</a>
            </div>
            <div id="contactCheck">
                <a href="mailto:tross@streamfluencepartners.com" style='color: #fff;'>Questions? Contact Us!</a>
                <p style='color: #fff; margin-top: 20px;'>Email: tross@streamfluencepartners.com</p>
                <p style='color: #fff'>Phone Number: (321)-696-9647</p>
            </div>
        </div>
        <div class="col-md-4 text-center ">
            <p class="copyrighttext ">Copyright 2018 StreamFluence Inc.</p>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://www.facebook.com/streamfluence/?ref=br_rs" style='color: #fff;' target='_blank'><i class="fa fa-facebook-square" aria-hidden="true" id='socialIcons'></i></a>
            <a href="https://twitter.com/streamfluence?lang=en" style='color: #fff;' target='_blank'><i class="fa fa-twitter-square" aria-hidden="true" id='socialIcons'></i></a>
            <a href="https://www.instagram.com/streamfluence/" style='color: #fff;' target='_blank'><i class="fa fa-instagram" aria-hidden="true" id='socialIcons'></i></a>
        </div>
        <!-- <div class="col-md-2 text-left">
        </div> -->
    </div>
</div>