<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="home">
               <img id="navbar-logo" alt="Brand" src="./assets/images/logo.png">
            </a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right" id="navLinks">
        <li><a class="navFont" href='/pricing'>Pricing</a></li>
        <li class="divider-vertical"></li>
        <li>
            <a class="navFont" id="" data-toggle="dropdown">Login</a>
            <ul class="dropdown-menu">
                <li>
                    <a class="navFont" href="https://streamfluence.herokuapp.com/api/v1/auth/twitch">Streamer</a>
                </li>
                <li>
                    <a class="navFont" href="https://streamfluence.herokuapp.com/login">Brand</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="navFont" id="navJoin" data-toggle="dropdown" href="https://streamfluence.herokuapp.com/register" target="_blank">Get Started</a>
            <ul class="dropdown-menu">
                <li>
                    <a class="navFont" href="https://streamfluence.herokuapp.com/api/v1/auth/twitch">Streamer</a>
                </li>
                <li>
                    <a class="navFont" href="https://streamfluence.herokuapp.com/register">Brand</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->