<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>StreamFluence</title>
    <!-- bootstap html and cc elemets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!--links my css page -->
    <link rel="stylesheet" type="text/css" href="./assets/css/index1.3.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/brandsHome.css">
    <!--Allows me to use JQuery -->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- Allows me to use Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="shortcut icon" href="assets/images/floo.png">
    <link rel="apple-touch-icon" href="assets/images/favicon-floo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Passion+One|Patua+One|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">
</head>

<body id="top">
    <div class="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" id="navStarted">
            <%- include('layouts/navBrand'); %>
        </nav>
        <!-- BRAND LOGO with Triangle background-->
        <div id="brand-corner" class="hidden-xs">
            <div id="brand-background"></div>
            <a href="/">
                <img id="brand-logo" src="assets/images/streamfluence-logo.png">
            </a>
        </div>

        <!-- Content -->
        <section class="sec sec-top" id='homeBigScreen'>
            <img src="./assets/images/sfHomeImage.png" id='homeBigImage'>
            <img src="./assets/images/sfHomeImage2.png" id='homeBigImage2'>
            <div class="col-xs-12 homeContent">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8 col-md-offset-1 col-md-10">
                        <div class="row">
                            <div class="col-md-6 homeContentText">
                                <h1 id='homeTitle'>Expose your brand to
                                    <br> a whole new audience</h1>
                                <p id='titleParagraph'> With StreamFluence, you don't have to jump through hoops, mess with equations, or hope that
                                    you get exposure; we match your brand with broadcasters who want to work with you. Go
                                    beyond typical affiliate programs and make marketing opportunities that really pop. </p>
                                <a class="btn btn-lg btn-round-lg" id='brandHomeButton' href="https://streamfluence.herokuapp.com/register" target="_blank"
                                    role="button">GET STARTED FOR FREE</a>
                            </div>
                            <iframe src="https://www.youtube.com/embed/jN2zP-uXJN0?start=44&autoplay=1&mute=1" id='streamerImage1' frameborder="0" allowfullscreen="true"
                                height="378" width="620"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec" id='brand123Container'>
            <div class='row text-center' style='margin-top: 25px;'>
                <div class='col-md-6'>
                    <img src="./assets/images/victory.png" id='twitchSectionImage'>
                </div>
                <div class='col-md-6'>
                    <div class="row">
                        <div class='col-sm-1 col-md-2'>
                        </div>
                        <div class='col-sm-10 col-md-9 text-left brand123'>
                            <br>
                            <br>
                            <h3 style='font-size: 32px; font-weight: bold;'>
                                LIVE STREAMING:
                                <br> THE MEDIUM OF THE NEXT GENERATION
                            </h3>
                            <br>
                            <br>
                            <p style='font-size: 18px; color: #a3a3a3;'>
                                Get ahead of the competition, tap into the content over 100+ million millennials and gen Zs are consuming everyday.
                            </p>
                        </div>
                        <div class='col-sm-1'>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row text-center' id='brand123Row'>
                <div class="col-md-4 text-center">
                    <div class="row backgroundBrand123">
                        <div class='col-sm-2 text-center brand123Trophy'>
                            <i class="fa fa-child" style="font-size:50px; color: #bc63ff;"></i>
                        </div>
                        <div class='col-sm-9 text-left brand123'>
                            <h3>Authentic Marketing</h3>
                            <br>
                            <p>Wouldn’t it be great if your audience looked forward to seeing your brand? Through our network,
                                that’s exactly what we deliver. </p>
                        </div>
                        <div class='col-sm-1'>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="row backgroundBrand123">
                        <div class='col-sm-2 text-center brand123Trophy'>
                            <i class="fa fa-gavel" style="font-size:50px; color: #bc63ff;"></i>
                        </div>
                        <div class='col-sm-9 text-left brand123'>
                            <h3>Break into The Scene</h3>
                            <br>
                            <p>Want to break into the Twitch or Live Content space but don't know how? Our expert account managers
                                with over 6+ years experience in the scene have you covered.</p>
                        </div>
                        <div class='col-sm-1'>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="row backgroundBrand123">
                        <div class='col-sm-2 text-center brand123Trophy'>
                            <i class="fa fa-line-chart" style="font-size:50px; color: #bc63ff;"></i>
                        </div>
                        <div class='col-sm-9 text-left brand123'>
                            <h3>Extend your reach</h3>
                            <br>
                            <p>Whether you're looking to drive web traffic, increase product sales, or egage with new customers,
                                StreamFluence was developed with your business in mind.</p>
                        </div>
                        <div class='col-sm-1'>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="sec-lightpurple" id='HowItWorksSection'>
            <img src="./assets/images/sfBrandSlant.png" id='homeBigImage'>
            <img src="./assets/images/sfHomeImage.png" id='sfBrandSlant'>
            <div class="row">
                <div class="col-md-12">
                    <p style='color: #fff; margin-top: 10px;' class='text-center'>How It Works</p>
                    <h1 class='text-center' id='howItWorkTitle' style=''>Simple. Easy. Effective.</h1>
                </div>
            </div>
            <div class="row stepsRowsSection">
                <div class="col-md-offset-3 col-md-3 stepsRowsSection__step-content">
                    <h2 class='howItWorksSteps1'>
                        <strong>Step 1: </strong>
                    </h2>
                    <h2 class='howItWorksSteps2'>Sign Up</h2>
                    <p id='howItWorksLeftP'>Getting started is easy, just tell us a bit about yourself and your product.</p>
                    <hr>
                </div>
                <div class="col-md-3 text-center stepsRowsSection__step-image">
                    <i class="fa fa-sign-in" id='howItWorksIcons'></i>
                </div>
            </div>
            <div class="row stepsRowsSection">
                <div class="col-md-offset-3 col-md-3 stepsRowsSection__step-content">
                    <h2 class='howItWorksSteps1'>
                        <strong>Step 2:</strong>
                    </h2>
                    <h2 class='howItWorksSteps2'>Create Campaign</h2>
                    <p id='howItWorksLeftP'>In 5 minutes or less create The Campaign that's right for your brand.</p>
                    <hr>
                </div>
                <div class="col-md-3 text-center stepsRowsSection__step-image">
                    <i class="fa fa-cogs" id='howItWorksIcons'></i>
                </div>
            </div>
            <div class="row stepsRowsSection">
                <div class="col-md-offset-3 col-md-3 stepsRowsSection__step-content">
                    <h2 class='howItWorksSteps1'>
                        <strong>Step 3:</strong>
                    </h2>
                    <h2 class='howItWorksSteps2'>Match With Broadcasters</h2>
                    <p id='howItWorksLeftP'>We'll take your campaign goals and match them to the broadcasters who will best represent you.</p>
                    <hr>
                </div>
                <div class="col-md-3 text-center stepsRowsSection__step-image">
                    <i class="fa fa-users" id='howItWorksIcons'></i>
                </div>
            </div>
            <div class="row stepsRowsSection">
                <div class="col-md-offset-3 col-md-3 stepsRowsSection__step-content">
                    <h2 class='howItWorksSteps1'>
                        <strong>Step 4:</strong>
                    </h2>
                    <h2 class='howItWorksSteps2'>Promote Your Brand</h2>
                    <p id='howItWorksLeftP'> Sit back, relax, and keep an keep an eye on the progress of your campaign with real-time tracking.</p>
                    <hr>
                </div>
                <div class="col-md-3 text-center stepsRowsSection__step-image">
                    <i class="fa fa-child" id='howItWorksIcons'></i>
                </div>
            </div>
        </section>
    </div>
    <!-- /.wrapper -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <section id='noTitleCastersSection'>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6" id='aboutStreamersSection'>
                <div class='row'>
                    <div class='col-md-offset-3 col-md-6' id='casterContent'>
                        <h4>WANT MORE INFORMATION?</h4>
                        <br>
                        <p>Schedule a call with one of our knowledgable Campaign Strategist.</p>
                        <br>
                        <br>
                        <a class="btn btn-lg btn-round-lg" id='aboutViewMoreBtn' href="https://app.hubspot.com/meetings/tross" target="_blank" role="button"
                            style='background-color: #42b6ff;'>LEARN MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6" id='brandStreamersSection'>
                <div class='row'>
                    <div class='col-md-offset-3  col-md-6' id='brandedContent'>
                        <h4>GET STARTED AS A BRAND</h4>
                        <br>
                        <p> Featuring over 500+ Broadcasters that want to promote your brand!
                        </p>
                        <br>
                        <br>
                        <a class="btn btn-lg btn-round-lg" id='brandViewMoreBtn' href="https://streamfluence.herokuapp.com/register" target="_blank">
                            GET STARTED
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <%- include('layouts/footer'); %>
    </footer>
    <!-- SCRIPT -->
    <script type="text/javascript" src="assets/js/app.js"></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2995043.js"></script>
    <!-- End of HubSpot Embed Code -->
</body>

</html>