/* Begin main css */

@font-face {
    font-family: 'Roboto Slab', serif;
    src: url("fonts/terminator real nfi.ttf") format("truetype");
}

html {
    position: relative;
    height: 100%;
}

body {
    font-family: 'Roboto Slab', serif;

    /* Margin bottom by footer height */
    overflow-x: hidden;
}

h1 {
    color: #003d87;
}

h2 {
    font-size: 27px;
    color: #0399f1;
}

h3 {
    font-size: 20px;
    line-height: 1.29;
    color: #003d87;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    color: #fff;
}

p {
    font-family: 'Open Sans', sans-serif;

    color: #696969;
}

a.btn {
    border-color: #6441a4;
    background-color: #6441a4;
    font-size: 16px;
    color: #f8f9fa;
    margin: 10px auto;
}

a.btn:hover {
    background-color: #4d98d3;
    color: white;
}

/*========================================== Navbar */

.navbar-default {
    background-color: #fff;
    border: none;
}

.navbar-collapse .nav>.divider-vertical {
    display: none;
}

.navFont {
    color: #30b7fe;
    letter-spacing: 1px;
    margin-top: 6px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#navLinks a {
    color: #30b7fe;
}

.navFont:hover {
    color: #a023ff !important;
}


.navbar .divider-vertical {
    height: 40px;
    margin: 10px 2px;
    background-color: #fff;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

#navJoin {
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #30b7fe;
    border-radius: 80px;
    color: white !important;
    margin-right: 8px;
}

#navJoin:hover {
    background-color: #a023ff !important;
    color: #fff !important;
}

.navbar-brand {
    padding: 8px 0px 8px 15px;
    display: block;
}

#navbar-logo {
    max-height: 34px;
}

.center-messaging {
    position: absolute;
    top: 25%;
    left: 33%;
}

.home-hr {
    position: absolute;
    top: 70%;
    left: 8%;
}

.home-hr2 {
    position: absolute;
    top: 30%;
    left: 8%;
}

/*======================= end nav*/


/* Top left logo with triangle background */

#brand-corner {
    display: none;
}

#brand-background {
    position: absolute;
    top: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 450px 0 0;
    border-color: #fff transparent transparent transparent;
    z-index: 1;
}

#brand-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    max-height: 100px;
    width: auto;
}

/* Bottom right triangle background */

/*========================================== Homepage Wrapper */
.wrapper.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/*========================== main home section begin ==============================*/

#homeBigScreen {
    height: 100vh;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a023ff+11,a023ff+11,50aafa+80 */
    background: #a023ff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #a023ff 11%, #a023ff 11%, #50aafa 80%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #a023ff 11%, #a023ff 11%, #50aafa 80%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #a023ff 11%, #a023ff 11%, #50aafa 80%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a023ff', endColorstr='#50aafa', GradientType=1);
    /* IE6-9 */
    padding: 0px;
    position: relative;
}

#homeBigImage {
    position: absolute;
    bottom: -1%;
    z-index: 1;
}

#homeBigImage2 {
    position: absolute;
    height: 100vh;
    bottom: -1%;
    z-index: 2;
    font-family: 'Roboto Slab', serif;
}

#homeTitle {
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: normal;
    font-family: 'Roboto Slab', serif;
}

#liveContentTitle {
    color: #fff;
    font-size: 90px;
    font-weight: bold;
    margin-left: 30px;
}

.homeContent {
    position: relative;
    top: 30%;
    z-index: 3;
}

.home-content__title-container {
    padding-left: 4%;
    text-align: center;
}

#brandsBtn,
#broadcastersBtn {
    background-color: #fff;
    color: #b945f6;
    height: 60px;
    width: 240px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    padding: 17px;
    font-weight: 500;
}

#brandsBtn {
    background-color: #fff;
    color: #b945f6;
}

#broadcastersBtn {
    background-color: #30b7fe;
    color: #fff;
    letter-spacing: 1px;
}
/*====================== end main home screen =======================*/

/*======================= why streamfluence ==============================*/

#whySteamfluenceContainer {
    min-height: 800px;
    background-color: #fff;
}

.vcenter {
    position: relative;
}

#whyStreamfluence {
    font-size: 60px;
    color: black;
    letter-spacing: 4px;
}

#whyStreamfluenceImage {
    height: auto;
    max-width: 100%;
}

.whySFPanel {
    padding: 20px;
    margin: 20px;
    height: 255px;
    background-color: #e5efff;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.whySFPanel p {
    color: #606060;
    line-height: 30px;
}

.whySFPanel h3 {
    margin: 0 0 10px 0px;
    font-size: 25px;
    color: #0c6dff;
    font-weight: bold;
    letter-spacing: 2px;
}

.sfPanelInner {
    padding: 25px 20px 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* ============================ end why streamfluence section ========================*/

/*=========================== thrive on section =================================*/

#thriveOnSecion {
    min-height: 140px;
}

#platformThriveTitle {
    color: white;
    font-size: 55px;
    padding: 0 15px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 45px;
}

#platformsLineImage {
    position: absolute;
    width: 110%;
    left: -2%;
    height: 100%;
    bottom: -1%;
    z-index: 0;
}

.thriveOnImages {
    height: 250px;
    width: 300px;
    height: auto;
    max-width: 100%;
    padding: 10px 10px 0 0;
    margin-top: 50px;
}

/* thrive-image home */
.thrive-container__image {
    margin-bottom: 10px;
    min-height: 125px;
    text-align: center;
    position: relative;
}

.thrive-container__image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 40%;
}

#mixerImage {
    margin-top: 90px;
}

#twitchImage {
    margin-top: 100px;
}

#platformThriveSection {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#08f8f8+0,a023ff+67 */
    background: #08f8f8;
    /* Old browsers */
    background: -moz-linear-gradient(left, #08f8f8 0%, #a023ff 67%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #08f8f8 0%, #a023ff 67%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #08f8f8 0%, #a023ff 67%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08f8f8', endColorstr='#a023ff', GradientType=1);
    /* IE6-9 */
    position: relative;
}


/* ================================= end thrive on section ========================== */

/*==================================== engagement section =====================*/

#engagementSection {
    min-height: 630px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#08f8f8+0,a023ff+67 */
    background: #08f8f8;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #08f8f8 0%, #a023ff 67%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #08f8f8 0%, #a023ff 67%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #08f8f8 0%, #a023ff 67%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08f8f8', endColorstr='#a023ff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#engagementBox {
    height: 500px;
    border-radius: 30px;
    margin-top: 70px;
    padding-left: 20px;
    background-color: #fff;
    border: 1px solid #a023ff;
    position: relative;
}

#engagementContent {
    min-height: 400px;
    position: relative;
    top: 10%;
}

#engagementImage {
    height: 400px;
}

#homeTitleEngagement {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 5px;
    font-family: 'Roboto Slab', serif;
}

#titleParagraph {
    font-size: 16px;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;
    letter-spacing: 1px;
}

/*================================ end engagement section ==========================*/


/*================================ Track Record Section ================================*/

#trackRecordSection {
    margin-bottom: 0px;
}

#trackRecordAnalytics {
    margin: 0 auto 30px auto;
}

#trackRecordTitle {
    margin-bottom: 60px;
}

/*============================ end track record section ================================*/


/*================================== no title casters section ============================*/

#noTitleCastersSection {
    background-color: #f5f7fd;
    min-height: 400px;
}

#aboutStreamersSection,
#brandStreamersSection {
    height: 400px;
    text-align: center;
}

#aboutStreamersSection p {
    color: black;
    font-size: 18px;
    line-height: 30px;
}

#aboutStreamersSection h4 {
    font-size: 35px;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
}

#aboutViewMoreBtn {
    background-color: #a023ff;
    color: #fff;
    height: 55px;
    font-size: 16px;
    border-radius: 23px;
    border: none;
    z-index: 999;
    padding-top: 15px;
    font-weight: 500;
    position: relative;
}

#brandStreamersSection h4 {
    font-size: 35px;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
}

#brandStreamersSection p {
    color: black;
    font-size: 18px;
    line-height: 30px;
    height: 40px;
}

#brandViewMoreBtn {
    background-color: #42b6ff;
    color: #fff;
    height: 55px;
    font-size: 16px;
    border-radius: 23px;
    border: none;
    padding-top: 15px;
    font-weight: 500;
    z-index: 999;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

#casterContent {
    padding: 60px 0 60px 0;
}

#casterContent p {
    height: 40px;
}

#brandedContent {
    padding: 60px 0 60px 0;
}

/*========================== no title end =============================*/

#brand-bottom-corner {
    display: none;
}

#brand-bottom-background {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0px 170px 383px;
    border-color: transparent transparent #fff transparent;
    z-index: 1;
}

/*Footer*/

footer {
    width: 100%;
    border-top: 1px solid #4d98d3;
}

footer h4 {
    color: #000;
}

#socialIcons {
    font-size: 50px;
    padding: 25px 15px;
}

#blogQuestionsFooter {
    padding-top: 25px;
    padding-bottom: 25px;
}

.copyright {
    color: white;
    width: 100%;
    background-color: #444444;
    min-height: 75px;
    padding: 20px 20px;
}

.copyrighttext {
    color: white;
    width: 100%;
    background-color: #444444;
    padding-top: 25px;
    padding-bottom: 25px;
}

#blogCheck {
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
}

#contactCheck {
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
}

.footertext {
    color: #202020;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgba(85, 85, 85, 0.888);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
    color: #fff;
}


/******************/


/*****  HOME  *****/


/******************/


/** Section 1 - Hero **/

#section1 {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #0399f1;
    min-height: 100vh;
    display: table;
    max-width: none;
}

#jumbo-index {
    background-color: transparent;
    display: table-cell;
    vertical-align: middle;
}

#jumbo-index h4 {
    color: #fff;
}

#hero {
    width: 255px;
}

#hero h1 {
    font-family: 'Roboto Slab', serif;

    font-size: 32px;
    font-weight: bolder;
    color: #003d87;
    text-shadow: 2px 2px #fff;
}

#hero h1:last-child {
    margin-top: 20px;
    margin-bottom: 20px;
}

#hero-btns {
    margin-top: 20px;
}

#btn-streamer {
    background-color: #003d87;
    border-color: #003d87;
    color: #fff;
}

#btn-brand {
    background-color: #fff;
    color: #003d87;
    border-color: #fff;
}

a.btn-round-lg {
    font-size: 18px;
    color: #003d87;
    min-width: 160px;
    border-radius: 22.5px;
    margin: 10px;
}

a.btn-round-lg:hover {
    /* background-color: #0399F1 !important;
    color: white !important; */
    opacity: 0.8;
    border-color: #696969;
}

/** Section 2 - info **/

#section2>.row {
    margin-bottom: 20px;
}

#img-platforms {
    margin-bottom: 20px;
}

#img-platforms img {
    max-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sec2-box {
    padding-bottom: 50px;
}

#sec2-info {
    margin-top: 20px;
    margin-bottom: 50px;
}

.thumbnail {
    border: none;
    padding-top: 13px;
}

/** Sections **/

.sec {
    padding: 40px;
}

.sec-liteblue {
    background-color: #0399f1;
}

.sec-darkblue {
    background-color: #003d87;
}

.sec-lightpurple {
    background-color: #6441a5
}

.sec-darkblue p,
.sec-liteblue p {
    color: #fff;
}

.sec-top {
    position: relative;
    padding-top: 90px;
    padding-bottom: 40px;
}

.sec-liteblue h2 {
    color: #003d87;
}

.sec-darkblue h1 {
    color: #fff;
}

/** Denied page **/

.empty-footer {
    height: 50px;
}

/*White we use : #E0E0E0
  Black we use : #202020*/

.form-control {
    position: relative;
    margin: 0 auto;
    width: 40%;
    background: #fff;
}

/*Get started section*/

#getStartedSection {
    height: 100px;
}

#resourcesStreamersSection {
    height: 150px;
}

#resourcesStreamersSection p {
    color: #ababab;
    font-size: 18px;
    line-height: 30px;
}

#resourcesStreamersSection h4 {
    font-size: 35px;
    color: #585858;
    font-weight: bold;
    letter-spacing: 2px;
}

#resourcesStreamersbtn {
    background-color: #42b6ff;
    color: #fff;
    height: 55px;
    font-size: 16px;
    border-radius: 23px;
    border: none;
    padding-top: 15px;
    font-weight: 500;
}

#createAccountSubSection {
    padding-top: 2px;
}

#createAccountSubSection h4 {
    font-size: 35px;
    color: #585858;
    font-weight: bold;
    letter-spacing: 2px;
}

#createAccountSubSection p {
    color: #ababab;
    font-size: 18px;
    line-height: 30px;
}

#createAccountSubSection {
    height: 150px;
}

#createAccountBtn {
    background-color: #42b6ff;
    color: #fff;
    height: 55px;
    font-size: 16px;
    border-radius: 23px;
    border: none;
    padding-top: 15px;
    font-weight: 500;
}

.ghost-center {
    position: relative;
}

.ghost-center::before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 1%;
    vertical-align: middle;
}

.ghost-center p h4 a {
    display: inline-block;
    vertical-align: middle;
}

/*get started end*/

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.bg-blue {
    background-color: #003d87;
}

.bg-white {
    background-color: #fff;
}

.text-white {
    color: #fff;
}

.text-blue {
    color: #003d87;
}

.text-blue-lt {
    color: #0399f1;
}

.col-center {
    margin: 0 auto;
    float: none;
}

/*call to actions*/

#callToActions {
    background-color: #815fc0;
    border-color: #815fc0;
    color: #fff;
}

#getStarted {
    background-color: #e6b600;
    border-color: #e6b600;
    color: #000;
}

#callSchedule {
    background-color: #e6b600;
    border-color: #e6b600;
    color: #fff;
}

#brandHomeButton {
    background-color: #30b7fe;
    border-radius: 30px;
    border: none;
    color: #fff;
    display: block;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    margin: 10% auto 0;
    padding-top: 13px;
    padding-bottom: 15px;
    width: 150px;
}

#streamerVideo1 {
    border: 2px solid #30b7fe;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    height: 40vh;
    position: absolute;
    top: 15%;
    width: 600px;
}

/*====================*/


/* Extra small devices (phones, less than 768px) */

@media (min-width: 400px) {
    #hero {
        width: 318px;
    }
    #hero h1 {
        font-size: 40px;
    }    
}

@media (min-width: 600px) {
    #hero {
        width: 484px;
    }
    #hero h1 {
        font-size: 60px;
    }
    .sec {
        padding: 40px 60px;
    }
    .sec-top {
        padding-top: 90px;
    }
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    #brand-corner {
        display: block;
    }
    #brand-bottom-corner {
        display: block;
    }
    #brandHomeButton {
        position: absolute;
        margin: initial;
        top: 90%;
        left: 10%;
    }
    #engagementContent {
        padding-left: 80px;
    }
    #navStarted {
        padding-right: 15px;
    }
    .navbar-brand {
        display: none;
    }
    .navbar-collapse .nav>.divider-vertical {
        display: block;
    }
    .sec {
        padding: 40px 90px;
    }
    .sec-top {
        padding-top: 125px;
        padding-bottom: 75px;
    }
    .sec-top h1 {
        padding-left: 30px;
    }
    #hero {
        width: 551px;
    }
    #hero h1 {
        font-size: 69px;
        padding-left: 0px;
    }
    a.btn-round-lg {
        font-size: 25px;
        min-width: 200px;
    }
    .thrive-container__image img{
        width: auto;
    }
    .whySFPanelTitle {
        padding: 20px;
        margin: 20px;
    }
    #titleParagraph {
       min-width: 250px;
    }
    #homeTitleEngagement {
        font-size: 20px;
        width: 350px;
    }
}

@media screen and (min-width: 1024px) {
    .copyrighttext {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #socialIcons {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

@media screen and (min-width: 686px) {
    #platformThriveTitle {
        line-height: 75px;
    }
}
/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    #brandsBtn {
        margin-left: 50px;
    }
    #hero {
        width: 793px;
    }
    #hero h1 {
        font-size: 100px;
    }
    h4 {
        font-size: 22px;
    }
    .home-content__title-container {
        text-align: left;
    }
    .home-content__buttons {
        margin-left: 55px;
    }
    #thriveOnSecion {
        min-height: 240px;
    }
    .thrive-container__image {
        min-height: 200px;
    }
    .thrive-container__image img {
        width: 70%
    }
    #aboutStreamersSection,
    #brandStreamersSection {
        text-align: left;
    }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    #hero {
        width: 915px;
    }
    #hero h1 {
        font-size: 115px;
    }
    h4 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 1690px) {
    #whyStreamfluence {
        font-size: 45px;
    }
}

@media only screen and (max-width: 1635px) {
    #homeTitleEngagement {
        font-size: 30px;
    }
    #titleParagraph {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1483px) {
    #homeTitleEngagement {
        font-size: 25px;
    }
    #titleParagraph {
        font-size: 14px;
    }
    #streamerVideo1 {
        height: 40vh;
        width: 500px;
        top: 20%;
    }
}

@media only screen and (max-width: 1352px) {
    #homeTitleEngagement {
        font-size: 24px;
    }
    #titleParagraph {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1380px) {
    .whySFPanel {
        height: 400px;
    }

    #brandHomeButton {
        left: 25%;
    }
}

@media only screen and (max-width: 1266px) {
    #homeTitleEngagement {
        font-size: 20px;
    }
    #titleParagraph {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1205px) {
    .whySFPanel {
        height: 400px;
    }

    #homeTitleEngagement {
        font-size: 20px;
    }
    #titleParagraph {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1180px) {
    .sfPanelInner h3 {
        font-size: 16px;
    }

    .sfPanelInner p {
        font-size: 13px;
    }

    #streamerVideo1 {
        height: 40vh;
        width: 500px;
        top: 15%;
    }
}

@media only screen and (max-width: 1082px) {
    #streamerVideo1 {
        height: 40vh;
        width: 450px;
        top: 20%;
    }
}

@media only screen and (max-width: 1050px) {
    #whyStreamfluence {
        font-size: 30px;
    }

    #brandsBtn {
        left: 65%;
    }

    .whySFPanel {
        padding: 5px;
        margin: 20px;
    }

    #getStartedSection {
        height: 170px;
    }
}

@media only screen and (max-width: 1015px) {
    .sfPanelInner h3 {
        font-size: 24px;
    }

    .sfPanelInner p {
        font-size: 16px;
    }

    .whySFPanel {
        height: 400px;
    }

    #platformsLineImage {
        height: 500px;
        width: 1100px;
    }

    #twitchImage {
        position: absolute;
        left: 40%;
        bottom: 5000%;
        margin-top: 0px;
        height: 150px;
        width: 200px;
        height: auto;
        max-width: 100%;
    }

    #mixerImage {
        position: absolute;
        left: 70%;
        bottom: 5500%;
        margin-top: 0px;
        height: 150px;
        width: 200px;
        height: auto;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1008px) {
    #homePanel2 {
        margin-bottom: 50px;
    }

    #homePanel3 {
        margin-bottom: 40px;
    }

    #streamerVideo1 {
        height: 40vh;
        right: -20%;
        width: 450px;
    }
}

@media only screen and (max-width: 995px) {
    #brandsBtn {
        left: 45%;
    }

    .whySFPanel {
        padding-bottom: 25px;
        margin: 20px;
    }
}

@media only screen and (max-width: 992px) {
    #streamerVideo1 {
        height: 40vh;
        right: -5%;
        width: 55%;
    }
}


@media only screen and (max-width: 965px) {
    #brandsBtn {
        left: 45%;
    }
}

@media only screen and (max-width: 900px) {
    #brandsBtn {
        left: 45%;
    }

    .homeContent h1 {
        left: 5%;
    }

    #streamerVideo1 {
        height: 35vh;
        right: -5%;
        top: 20%;
        width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    #streamerVideo1 {
        display: none;
        height: 35vh;
        width: 335px;
    }
}

@media only screen and (max-width: 765px) {

    #broadcastersBtn {
        left: 0%;
    }

    #brandsBtn {
        left: 35%;
    }

    .homeContent h1 {
        font-size: 10px;
    }

    #liveContentTitle {
        font-size: 60px;
    }
}

@media only screen and (max-width: 700px) {
    #homePanel2 {
        margin-bottom: 80px;
    }

    #homePanel3 {
        margin-bottom: 60px;
    }

    .whySFPanelTitle {
        min-height: 100px;
    }

    #titleParagraph {
        font-size: 14px;
    }
}

@media only screen and (max-width: 685px) {
    #platformsLineImage {
        width: 20px;
        height: 20px;
    }

    #youtubeImage {
        height: 150px;
        width: 200px;
    }

    #twitchImage {
        position: absolute;
        left: 35%;
        bottom: 5000%;
        margin-bottom: 30px;
        height: 125px;
        width: 175px;
        height: auto;
        max-width: 100%;
    }

    #mixerImage {
        position: absolute;
        left: 70%;
        bottom: 5500%;
        margin-top: 0px;
        height: 125px;
        width: 175px;
        height: auto;
        max-width: 100%;
    }

    #platformThriveTitle {
        font-size: 35px;
    }
}

@media only screen and (max-width: 515px) {
    #liveContentTitle {
        font-size: 45px;
        left: 10%;
        margin-left: 0px;
    }

    #homeTitle {
        font-size: 15px;
        left: -10%;
    }

    #brandsBtn {
        left: 10%;
        top: 220%;
    }

    #broadcastersBtn {
        left: 10%;
        top: 120%;
    }

    .whySFPanel {
        padding: 5px;
        margin-bottom: 60px;
    }

    .dollarPanel {
        margin-bottom: 20px;
    }

    .thriveOnImages {
        padding-left: 35px;
        margin-top: 40px;
        position: static;
        height: 250px;
        width: 300px;
        height: auto;
        max-width: 100%;
    }

    #mixerImage {
        margin-top: 90px;
        position: static;
        height: 100px;
        width: 250px;
        height: auto;
        max-width: 100%;
    }

    #twitchImage {
        margin-top: 100px;
        position: static;
        height: auto;
        max-width: 100%;
        width: 250px;
    }

    #youtubeImage {
        position: static;
        height: 100px;
        width: 250px;
        height: auto;
        max-width: 100%;
    }

    #resourcesStreamersSection {
        margin-bottom: 40px;
    }

    footer {
        bottom: -5%;
    }
}

@media only screen and (max-width: 425px) {
    #homeTitleEngagement {
        font-size: 30px;
    }

    #engagementBox {
        min-height: 650px;
        margin-bottom: 60px;
    }

    #brandHomeButton {
        top: 100%;
    }

    #brands {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 400px) {
    #liveContentTitle {
        font-size: 38px;
        left: 10%;
        margin-left: 0px;
    }

    #homeTitle {
        font-size: 12px;
        left: -10%;
    }

    #brandsBtn {
        left: 10%;
        top: 220%;
    }

    #broadcastersBtn {
        left: 10%;
        top: 120%;
    }

    .whySFPanel {
        padding: 5px;
        margin-bottom: 60px;
    }

    .dollarPanel {
        margin-bottom: 20px;
    }

    #platformThriveTitle {
        font-size: 40px;
    }

    .thriveOnImages {
        padding-left: 35px;
        margin-top: 40px;
    }

    #mixerImage {
        margin-top: 80px;
    }

    #resourcesStreamersSection {
        margin-bottom: 40px;
    }

    footer {
        bottom: -5%;
    }

    #whyStreamfluence {
        font-size: 25px;
    }
}